<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>Todos page</h2>

      {{#if todos.length}}

        {{#each todos}}

          <form action='/complete' method='post'>
            <div class='input-group mb-3 flex-nowrap'>
              {{#if completed}}

                <div class='input-group-text'>
                  <input type='checkbox' checked name='completed' />
                  <span class='completed'>{{title}}</span>
                </div>

              {{else}}

                <div class='input-group-text'>
                  <input type='checkbox' name='completed' />
                  <span>{{title}}</span>
                </div>

              {{/if}}

              <input type='hidden' name='id' value='{{_id}}' />

              <button
                class='btn btn-small btn-primary'
                type='submit'
              >Save</button>
            </div>
          </form>

        {{/each}}

      {{else}}
        <p>No todos!</p>
      {{/if}}
    </div>
  </div>
</div>